node_modules
.env
.env.deployment
.env.production
.env.local
/.status
/.status/vm-prague/status.json


# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
